:root {
  --primary-h: 280;
  --saturation-light: 62%;
  --lightness-light: 44%;

  --secondary-h: 30;
  --saturation-dark: 100%;
  --lightness-dark: 70%;

  --ground-light: white;
  --ground-dark: black;

  --width: 1000px;
  --nav-break: 800px;

  /* Primary */
  --foreground-h: var(--primary-h);
  --foreground-s: var(--saturation-light);
  --foreground-l: var(--lightness-light);
  --foreground: hsl(
    var(--foreground-h),
    var(--foreground-s),
    var(--foreground-l)
  );
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsla(
    var(--foreground-h),
    var(--foreground-s),
    var(--foreground-l),
    50%
  );
}

.secondary {
  --foreground-h: var(--secondary-h);
  --foreground-s: var(--saturation-light);
  --foreground-l: var(--lightness-light);
  --foreground: hsl(
    var(--foreground-h),
    var(--foreground-s),
    var(--foreground-l)
  );
}

@media not (prefers-color-scheme: dark) {
  body {
    --background-color: var(--ground-light);
    background: var(--background-color);
    color: var(--ground-dark);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--ground-dark);
    background: var(--background-color);
    color: var(--ground-light);

    --foreground-s: var(--saturation-dark);
    --foreground-l: var(--lightness-dark);
    --foreground: hsl(
      var(--foreground-h),
      var(--foreground-s),
      var(--foreground-l)
    );
  }

  .secondary {
    --foreground-s: var(--saturation-dark);
    --foreground-l: var(--lightness-dark);
    --foreground: hsl(
      var(--foreground-h),
      var(--foreground-s),
      var(--foreground-l)
    );
  }
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
header {
  margin-block-end: 0.2em;
  font-family: Orbitron, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

.social {
  fill: currentColor;
}

.content-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

.rs-score .claim-inner a[href],
rs-score .claim-inner a[href],
.rs-score .claim-inner a[href]:visited,
rs-score .claim-inner a[href]:visited {
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
}

amp-sidebar li {
  font-size: 1.5em;
  margin-top: 0.5em;
}
