<div class="header-section">
  <div class="content">
    <header class="header horizontal">
      <em>
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </em>
      <nav>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul class="header-nav">
        {%- for entry in navPages %}
          <li>
            <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
        <ul class="hamburger">
          <li>
            <span role="button" on="tap:sidebarNav.toggle" tabindex="0">Menu</span>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<amp-sidebar id="sidebarNav" layout="nodisplay" side="left" class="sidebar header">
  <div role="button" aria-label="close sidebar" on="tap:sidebarNav.toggle" tabindex="0" class="close-sidebar">✕</div>
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</amp-sidebar>

