---
permalink: /
hideTitle: true
layout: layouts/base.njk
eleventyNavigation: {key: Home,order: 1}
---

<style>
  .home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    text-align: center;
    margin: auto;
    align-items: stretch;
  }

  @media (max-width: 800px) {
    .home-grid {
      grid-template-columns: 1fr;
    }
  }

  .bucketed {
    border-bottom-right-radius: 2em;
    border: 1em solid hsla(var(--foreground-h) var(--foreground-s) var(--foreground-l) / .4);
    border-bottom-left-radius: 2em;
    border-top: none;
    padding: .5em;

    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  .bucketed p {
    text-align: justify;
  }

  .home-grid>div {
    margin: 2em;
  }

  .hero {
    min-height: 70vh;
    margin: auto;
    width: fit-content;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    display: grid;
    /* align-items: center; */
  }

  .hero h1 {
    font-size: min(10vw, 80px);
    width: fit-content;
    margin: auto;
  }

  .hero p {
    font-size: min(5vw, 40px);
  }

  .watermark {
    position: absolute;
    top: 40px;
    width: min(100vw, 100vh);
    fill: var(--foreground);
    z-index: -1;
    opacity: .1;
    animation: 50s toggle infinite;
  }

  @media (prefers-color-scheme: dark) {
    .watermark {
      opacity: .15;
    }
  }

  .watermark .conf,
  .watermark .canc {
    transition: 15s;
  }

  @keyframes toggle {
    from {
      --confidence: 0.75;
      --cancelled: 0.25;
    }

    1% {
      --confidence: 1;
      --cancelled: .5;
    }

    33% {
      --confidence: .25;
      --cancelled: 0.2;
    }

    66% {
      --confidence: 1;
      --cancelled: 0;
    }

    86% {
      --confidence: 1;
      --cancelled: .75;
    }

    to {
      --confidence: 0;
      --cancelled: 0;
    }
  }

  .rs-bucket .conf {
    transform: translateY(calc(70px * (1 - var(--confidence, 1)))) scaleY(calc(var(--confidence, 1) * (1 - var(--cancelled, 0))));
    transform-origin: 0px 10px;
  }

  .rs-bucket .canc {
    transform: translateY(calc(70px * (1 - var(--confidence, 1))));
  }

  .btn-small {
    margin-top: 1em;
  }
</style>
<div></div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0">
  <defs>
    <rect id="canc" x="20" y="10" width="60" height="60" mask="url(#checked-mask)" />
    <rect id="conf" x="20" y="10" width="60" height="60" />
    <path id="bucket-path"
      d="M 10 10 v 70 a 10 10 0 0 0 10 10 H 80 A 10 10 0 0 0 90 80 V 10 H 80 V 72 A 8 8 0 0 1 72 80 H 28 A 8 8 0 0 1 20 72 V 10" />
    <pattern id="checked" width="2" height="2" stroke="white" stroke-width="1"
      patternTransform="translate(0 3.5) rotate(45) scale(3.53)" patternUnits="userSpaceOnUse">
      <line x1="0" y1="0" x2="0" y2="2"></line>
      <line x1="0" y1="0" x2="2" y2="0"></line>
    </pattern>
    <mask id="checked-mask" x="0" y="0" width="1" height="1">
      <rect x="0" y="0" width="100" height="100" fill="url(#checked)" />
    </mask>
    <clipPath id="fillClip">
      <rect x="30" y="0" width="40" height="70" rx="7" />
    </clipPath>
    <svg id="rs-bucket" viewBox="0 0 100 100" class="rs-bucket">
      <g clip-path="url(#fillClip)">
        <use href="#canc" class="canc" />
        <use href="#conf" class="conf" />
      </g>
      <use href="#bucket-path"></use>
    </svg>
  </defs>
</svg>

<svg viewBox="0 0 100 100" class="watermark rs-bucket left" style="left:max(-50vw, -50vh);">
  <g clip-path="url(#fillClip)">
    <use href="#canc" class="canc" />
    <use href="#conf" class="conf" />
  </g>
  <use href="#bucket-path"></use>
</svg>

<svg viewBox="0 0 100 100" class="watermark rs-bucket secondary right"
  style="right: max(-50vw, -50vh); animation-delay: -21s;">
  <g clip-path="url(#fillClip)">
    <use href="#canc" class="canc" />
    <use href="#conf" class="conf" />
  </g>
  <use href="#bucket-path"></use>
</svg>

<div class="hero">
  <h1 style="position: relative;">Reasonpedia<span class="experiment">experiment
  </h1>
  <p>Explore&nbsp;the&nbsp;reasons&nbsp;behind<br>popular&nbsp;and&nbsp;useful&nbsp;arguments<br>and help us find
    holes in them</p>
</div>

<div class="home-grid">
  <div class="bucketed">
    <h2><a href="./work">How it works</a></h2>
    <p>{% include "../../site/parts/work.html" %} </p>
    <p><a href="./work">More about how it works.</a></p>
  </div>

  <div class="bucketed secondary">
    <h2><a href="./trust">Should You Trust&nbsp;Us?</a></h2>
    <p>{% include "../../site/parts/trust.html" %}</p>
    <p><a href="./trust">More about trust.</a></p>
  </div>
</div>

<div style="text-align: center;">
  <h2>- Examples -</h2>
</div>
<div class="home-grid">

  <div class="bucketed">
    Why People Say:
    <h3>Concealed carry laws reduce&nbsp;crime</h3>
    <div>
      <button class="btn-small" disabled>Coming Soon</button>
    </div>
  </div>

  <div class="bucketed secondary">
    <div>Why People Say:</div>
    <h3>Ivermectin doesn't reduce&nbsp;Covid</h3>
    <div>
      <button class="btn-small" disabled>Coming Soon</button>
    </div>
  </div>

  <div class="bucketed">
    Why People Say:
    <h3>Saturated fat causes&nbsp;heart&nbsp;disease</h3>
    <div>
      <button class="btn-small" disabled>Coming Soon</button>
    </div>
  </div>

</div>