---
permalink: /
hideTitle: true
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div style="
  display:grid;
  min-height: 75vh;
  align-items:center;
  gap:1em;
  text-align: center; ">
  <div>
    <h1>Reasonpedia</h1>
    <p>Help us find holes in popular arguments</p>
  </div>
  <h2><a href="./work">How it works</a></h2>
  <div><h2><a href="./trust">Should You Trust Us?</a></h2>
  <p>{% include "../../site/parts/trust.html" %} <a href="./trust">More about trust.</a></p>
  </div>
</div>
