---
permalink: /
hideTitle: true
layout: layouts/base.njk
eleventyNavigation: {key: Home,order: 1}
---

<style>
  .home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    text-align: center;
    margin: auto;
    align-items: stretch;
  }

  @media (max-width: 800px) {
    .home-grid {
      grid-template-columns: 1fr;
    }
  }

  .bucketed {
    border-bottom-right-radius: 2em;
    border: 1em solid hsla(var(--foreground-h) var(--foreground-s) var(--foreground-l) / .4);
    border-bottom-left-radius: 2em;
    border-top: none;
    padding: .5em;

    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  .bucketed p {
    text-align: justify;
  }

  .home-grid>div {
    margin: 2em;
  }

  .hero {
    min-height: 30vh;
    margin: auto;
    width: fit-content;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    display: grid;
    align-items: center;
  }

  .hero h1 {
    font-size: min(10vw, 80px);
    width: fit-content;
    margin: auto;
  }
</style>

<div class="hero">
  <h1 style="position: relative;">Reasonpedia<span class="experiment">experiment
  </h1>
  <p>Explore&nbsp;the&nbsp;reasons&nbsp;behind popular&nbsp;and&nbsp;useful&nbsp;arguments <br />and help us find
    holes in them</p>
</div>

<div class="home-grid">
  <div class="bucketed">
    <h2><a href="./work">How it works</a></h2>
    <p>{% include "../../site/parts/work.html" %} </p>
    <p><a href="./work">More about how it works.</a></p>
  </div>

  <div class="bucketed secondary">
    <h2><a href="./trust">Should You Trust&nbsp;Us?</a></h2>
    <p>{% include "../../site/parts/trust.html" %}</p>
    <p><a href="./trust">More about trust.</a></p>
  </div>
</div>


<h2>Example Arguments:</h2>
<div class="home-grid">

  <div class="bucketed">
    Why People Say:
    <h3>Concealed carry laws reduce&nbsp;crime</h3>
    <div>
      <button class="btn-small" disabled>Coming Soon</button>
    </div>
  </div>

  <div class="bucketed secondary">
    <div>Why People Say:</div>
    <h3>Ivermectin doesn't reduce&nbsp;Covid</h3>
    <div>
      <button class="btn-small" disabled>Coming Soon</button>
    </div>
  </div>

  <div class="bucketed">
    Why People Say:
    <h3>Keto is a healthy long-term&nbsp;way&nbsp;of&nbsp;eating</h3>
    <div>
      <button class="btn-small" disabled>Coming Soon</button>
    </div>
  </div>

</div>