<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		{% include "components/nav.njk" %}
		{% if not hideTitle %}<div class="content"><h1>{{ title }}</h1></div>{% endif %}
		{% if not wide %}<div class="content">{% endif %}
			{{ layoutContent | safe }}
		{% if not wide %}</div>{% endif %}
		<div class="footer">
			<div class="content">
				{% include "../../site/footer.html" %}
			</div>
		</div>
	</body>
</html>
