---
layout: layouts/base.njk
section: post
---

<article>
  {% if image %}
      <div>
        {% image image, title, "intrinsic" %}
      </div>
  {% endif %}
  {% if wide %}<div class="content">{% endif %}
    <p>
      <small>
        <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
      </small>
    </p>
	{% if wide %}</div>{% endif %}

  {{ layoutContent | safe }}

  {% if wide %}<div class="content">{% endif %}
    {% if tags %}
      <p>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}
  {% if wide %}</div>{% endif %}
</article>

{% if wide %}<div class="content">{% endif %}
  <nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
  </nav>
{% if wide %}</div>{% endif %}
